body {
    background-color:#e0e1dd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

header {
    text-align: center;
    max-width: auto;
    margin: 20px;
    padding: 15px;
    background-color: #778da9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
    
}

a {
    color: #1b263b;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

nav {
    text-align: center;
    padding: 10px;
    max-width: auto;
    width: 100%;
}

ul li {
    padding-bottom: 10px;
    list-style-type: none;
}

main {
    max-width: auto;
    background-color: #e5e5e5;
    padding: 15px;
    margin: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

footer {
    max-width: auto;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

#home {
    background-color: #4f6d7a;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

#attractions {
    background-color: #c0d6df;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

#food {
    background-color: #dbe9ee;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

#contact {
    background-color: #4a6fa5;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}